<!DOCTYPE html>
<html lang="kobis">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>베이밸리</title>

  <!-- JS 파일 연결 -->
  <script src="/source/plugin/jquery/jquery-1.12.4.min.js"></script>
  <script src="/source/plugin/jquery/jquery-migrate-1.4.1.min.js"></script>
  <!-- Plug-in, Library { -->
  <script src="/source/plugin/prefixfree.min.js" defer></script>
  <script src="/source/plugin/scrollbar/jquery.mCustomScrollbar.js" defer></script>
  <script src="/source/plugin/jquery.matchHeight.js" defer></script>
  <script src="/source/plugin/aos/aos.js" defer></script>
  <script src="/source/plugin/scrollbar/lenis.js" defer></script>
  <script src="/source/plugin/niceselect/jquery.nice-select.min.js" defer></script>
  <script src="/source/plugin/swiper/swiper-bundle.min.js" defer></script>
  <!-- } Plug-in, Library -->
  <script src="/source/js/functions.js" defer></script>
  <script src="/source/js/normal.js" defer></script>

  <!-- CSS 파일 연결 -->
  <!-- Plug-in, Library { -->
  <link rel="stylesheet" href="/source/plugin/aos/aos.css">
  <link rel="stylesheet" href="/source/plugin/scrollbar/jquery.mCustomScrollbar.min.css">
  <link rel="stylesheet" href="/source/plugin/niceselect/nice-select.css">
  <link rel="stylesheet" href="/source/plugin/swiper/swiper-bundle.min.css">
  <!-- } Plug-in, Library -->
  <link rel="stylesheet" href="/source/css/fonts.css">
  <link rel="stylesheet" href="/source/css/common.css">
  <link rel="stylesheet" href="/source/css/normal.css">
  <link rel="stylesheet" href="/source/css/responsive.css">

</head>

<body>
  <div class="nt-cm_top">
    <h1 class="nt-logo">
      <a href="/">
        <img src="/source/img/logo.png" alt="충청남도 로고">
      </a>
    </h1>
    <div class="nt-cm_cont">
      <div class="nt-wrapper">
        <span class="nt-object"></span>
        <p class="nt-txt1"><span>BAY VALLEY</span> 메가시티</p>
        <p class="nt-txt2">
          대한민국 디지털 수도 개발을 위한 충남도청과 경기도의 상생 프로젝트, <br>
          지역과 정당을 뛰어넘어 경기-충남 도민을 위한 기회
        </p>
        <div class="nt-refer">
          <div class="nt-refer-list nt-list3">
            <span class="name">베이밸리 메가시티 홍보 리플렛</span>
            <ul class="nt-refer-over-ul">
              <li class="nt-refer-over-li">
                <a href="">미리보기 <img src="/source/img/icon-refer_over1.png" alt=""></a>
              </li>
              <li class="nt-refer-over-li">
                <a href="">다운로드 <img src="/source/img/icon-refer_over2.png" alt=""></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="nt-tab">
    <div class="nt-wrapper">
      <div class="nt-tab_in">
        <a href="./index.html" class="nt-tab-btn act">사업개요</a>
        <a href="./board.html" class="nt-tab-btn">보도자료</a>
        <a href="" class="nt-tab-btn">커뮤니티</a>
      </div>
    </div>
  </div>

  <div class="nt-cont">
    <div class="nt-cont_sec nt-goals">
      <div class="nt-wrapper">
        <div class="nt-cont_sec_top">
          <p class="nt-cont_sec-stit">베이밸리 메가시티 사업개요 01</p>
          <p class="nt-cont_sec-btit">개발목표</p>
        </div>
        <div class="nt-cont_sec_dt">
          <p class="nt-cont_sec-goals-txt">
            충남-경기 행정구역을 넘어 <b>초광역 경제권 형성</b> <br>
            대한민국 100년 미래경제를 책임질 <b>한국형 실리콘밸리</b>
          </p>
        </div>
      </div>
    </div>
    <div class="nt-cont_sec nt-potential">
      <div class="nt-wrapper">
        <div class="nt-cont_sec_top">
          <p class="nt-cont_sec-stit">베이밸리 메가시티 사업개요 02</p>
          <p class="nt-cont_sec-btit">아산만권 잠재력</p>
        </div>
        <div class="nt-cont_sec_dt match_h">
          <div class="nt-potential_lt">
            <div class="nt-potential_vd">
              <video controls autoplay class="nt-potential-video" poster="/source/img/video_poster.jpg">
                <source src="/source/img/video.mp4" type="video/mp4" />
              </video>

            </div>
          </div>
          <div class="nt-potential_rt">
            <ul class="nt-potential_ul nt-potential_ul--1">
              <li class="nt-potential_li nt-potential_li--info">
                <div class="nt-potential_box">
                  <div class="nt-potential_info-wr">
                    <p class="nt-potential_info-1">인구</p>
                    <p class="nt-potential_info-2"><b>330</b>만명</p>
                  </div>
                  <div class="nt-potential_icon">
                    <img src="/source/img/icon-potential1.png" alt="">
                  </div>
                </div>
                <div class="nt-potential_box">
                  <div class="nt-potential_info-wr">
                    <p class="nt-potential_info-1">기업</p>
                    <p class="nt-potential_info-2"><b>23</b>만개</p>
                  </div>
                  <div class="nt-potential_icon">
                    <img src="/source/img/icon-potential2.png" alt="">
                  </div>
                </div>
              </li>
              <li class="nt-potential_li nt-potential_li--info">
                <div class="nt-potential_box">
                  <div class="nt-potential_info-wr">
                    <p class="nt-potential_info-1">대학</p>
                    <p class="nt-potential_info-2"><b>34</b>개</p>
                  </div>
                  <div class="nt-potential_icon">
                    <img src="/source/img/icon-potential3.png" alt="">
                  </div>
                </div>
                <div class="nt-potential_box">
                  <div class="nt-potential_info-wr">
                    <p class="nt-potential_info-1">GRDP</p>
                    <p class="nt-potential_info-2"><b>204</b>조원</p>
                  </div>
                  <div class="nt-potential_icon">
                    <img src="/source/img/icon-potential4.png" alt="">
                  </div>
                </div>
              </li>
              <li class="nt-potential_li nt-potential_li--text">
                <div class="nt-potential_box">
                  <div class="nt-potential_num">01</div>
                  <div class="nt-potential_txt">아산만권 일대는 충남과 경기의 도계지역이나 인구, 기업, 대학, GRDP 등 <span>인적·물적 인프라 풍부</span>
                  </div>
                </div>
              </li>
              <li class="nt-potential_li nt-potential_li--text">
                <div class="nt-potential_box">
                  <div class="nt-potential_num">02</div>
                  <div class="nt-potential_txt">반도체, 디스플레이 등 글로벌 기업 다수 존재하여 <span>지역발전 잠재력 우수</span></div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="nt-cont_sec nt-challenge">
      <div class="nt-wrapper">
        <div class="nt-cont_sec_top">
          <p class="nt-cont_sec-stit">베이밸리 메가시티 사업개요 03</p>
          <p class="nt-cont_sec-btit">충남·경기 상생협력과제</p>
        </div>
        <div class="nt-cont_sec_dt">
          <div class="nt-challenge_lt">
            <div class="nt-challenge-img">
              <img src="/source/img/challenge-img.jpg" alt="천안 아산 지도">
            </div>
          </div>
          <div class="nt-challenge_rt">
            <div class="nt-challenge_pnavi-slider">
              <div class="swiper-wrapper nt-challenge_pnavi">
                <div class="swiper-slide nt-challenge_pnavi-list">
                  <div class="nt-challenge_pnavi-symbol symbol2">
                    <span>01</span>
                  </div>
                  <div class="nt-challenge_pnavi-txt">
                    <p>아산만(천안~아산~평택) <b>순환철도 건설</b></p>
                  </div>
                </div>
                <div class="swiper-slide nt-challenge_pnavi-list">
                  <div class="nt-challenge_pnavi-symbol symbol2">
                    <span>02</span>
                  </div>
                  <div class="nt-challenge_pnavi-txt">
                    <p>충남·경기 연접지역 <b>최첨단 사업벨트 조성</b></p>
                  </div>
                </div>
                <div class="swiper-slide nt-challenge_pnavi-list">
                  <div class="nt-challenge_pnavi-symbol symbol2">
                    <span>03</span>
                  </div>
                  <div class="nt-challenge_pnavi-txt">
                    <p>당진·평택항 <b>물류 환경개선</b>과 대중국 <b>수출 전진기지 육성</b></p>
                  </div>
                </div>
                <div class="swiper-slide nt-challenge_pnavi-list">
                  <div class="nt-challenge_pnavi-symbol symbol2">
                    <span>04</span>
                  </div>
                  <div class="nt-challenge_pnavi-txt">
                    <p><b>수소에너지</b> 융복합산업벨트 조성</p>
                  </div>
                </div>
                <div class="swiper-slide nt-challenge_pnavi-list">
                  <div class="nt-challenge_pnavi-symbol symbol2">
                    <span>05</span>
                  </div>
                  <div class="nt-challenge_pnavi-txt">
                    <p>서해안권 <b>마리나 거점 공동 육성</b></p>
                  </div>
                </div>
                <div class="swiper-slide nt-challenge_pnavi-list">
                  <div class="nt-challenge_pnavi-symbol symbol2">
                    <span>06</span>
                  </div>
                  <div class="nt-challenge_pnavi-txt">
                    <p>충남·경기 해안 지역 <b>국제적 관광지(K-골드코스트)</b> 조성</p>
                  </div>
                </div>
                <div class="swiper-slide nt-challenge_pnavi-list">
                  <div class="nt-challenge_pnavi-symbol symbol2">
                    <span>07</span>
                  </div>
                  <div class="nt-challenge_pnavi-txt">
                    <p><b>해양쓰레기</b> 수거·공동대응</p>
                  </div>
                </div>
                <div class="swiper-slide nt-challenge_pnavi-list">
                  <div class="nt-challenge_pnavi-symbol symbol2">
                    <span>08</span>
                  </div>
                  <div class="nt-challenge_pnavi-txt">
                    <p>미군기지 주변 지역 <b>지원 확대</b></p>
                  </div>
                </div>
                <div class="swiper-slide nt-challenge_pnavi-list">
                  <div class="nt-challenge_pnavi-symbol symbol2">
                    <span>09</span>
                  </div>
                  <div class="nt-challenge_pnavi-txt">
                    <p>충남·경기 현안사항 및 <b>중장기 발전방향</b> 공동연구</p>
                  </div>
                </div>
                <div class="swiper-slide nt-challenge_pnavi-list">
                  <div class="nt-challenge_pnavi-symbol symbol2">
                    <span>10</span>
                  </div>
                  <div class="nt-challenge_pnavi-txt">
                    <p>충남 서북부권 <b>용수 확보 방안</b> 마련(자체추진)</p>
                  </div>
                </div>
                <div class="swiper-slide nt-challenge_pnavi-list">
                  <div class="nt-challenge_pnavi-symbol symbol2">
                    <span>11</span>
                  </div>
                  <div class="nt-challenge_pnavi-txt">
                    <p><b>충남경제자유구역청</b> 복원(자체추진)</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="nt-challenge_pnavi_ctrwr">
              <div class="nt-challenge_pnavi_ctr">
                <button type="button" class="nt-challenge_btn next" title="다음"></button>
                <button type="button" class="nt-challenge_btn prev" title="이전"></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="nt-cont_sec nt-strategy">
      <div class="nt-wrapper">
        <div class="nt-cont_sec_top white">
          <p class="nt-cont_sec-stit">베이밸리 메가시티 사업개요 04</p>
          <p class="nt-cont_sec-btit">추진체계와 3대 전략</p>
        </div>
        <div class="nt-cont_sec_dt">
          <div class="nt-strategy-top">
            <div class="nt-strategy-diagram">
              <div class="nt-strategy-lt">
                <div class="nt-strategy-box">
                  <div class="nt-strategy-biglogo">
                    <img src="/source/img/diagram-biglogo_cn.png" alt="">
                  </div>
                  <ul class="nt-strategy-logo-ul">
                    <li class="nt-strategy-logo-li">
                      <img src="/source/img/strategy-logo1.png" alt="" style="width: 56.8%;">
                    </li>
                    <li class="nt-strategy-logo-li">
                      <img src="/source/img/strategy-logo2.png" alt="" style="width: 71.6%;">
                    </li>
                    <li class="nt-strategy-logo-li">
                      <img src="/source/img/strategy-logo3.png" alt="" style="width: 56.9%;">
                    </li>
                    <li class="nt-strategy-logo-li">
                      <img src="/source/img/strategy-logo4.png" alt="" style="width: 59%;">
                    </li>
                  </ul>
                  <div class="nt-strategy-smbox">
                    충남 연구원
                  </div>
                </div>
              </div>
              <div class="nt-strategy-md">
                <div class="nt-strategy-diagram-tit">
                  <p>민관 합동추진단 + 자문위원회</p>
                </div>
                <div class="nt-strategy-diagram-mark">
                  <div class="nt-strategy-diagram-mark_in">
                    <img src="/source/img/icon-shakehands.png" alt="">
                    <p>충남·경기 상생협력 실무협의회</p>
                  </div>
                </div>
                <div class="nt-strategy-smbox">
                  연구진 <br> 실무협의회
                </div>
              </div>
              <div class="nt-strategy-rt">
                <div class="nt-strategy-box">
                  <div class="nt-strategy-biglogo">
                    <img src="/source/img/diagram-biglogo_gg.png" alt="">
                  </div>
                  <ul class="nt-strategy-logo-ul">
                    <li class="nt-strategy-logo-li">
                      <img src="/source/img/strategy-logo5.png" alt="" style="width: 44%;">
                    </li>
                    <li class="nt-strategy-logo-li">
                      <img src="/source/img/strategy-logo6.png" alt="" style="width: 51.6%;">
                    </li>
                    <li class="nt-strategy-logo-li">
                      <img src="/source/img/strategy-logo7.png" alt="" style="width: 54.3%;">
                    </li>
                    <li class="nt-strategy-logo-li">
                      <img src="/source/img/strategy-logo8.png" alt="" style="width: 66.4%;">
                    </li>
                  </ul>
                  <div class="nt-strategy-smbox">
                    경기 연구원
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="nt-strategy-btm">
            <ul class="nt-strategy-box-ul">
              <li class="nt-strategy-box-li">
                <div class="nt-strategy-box-icon nt-potential_icon">
                  <img src="/source/img/icon-strategy1.png" alt="">
                </div>
                <div class="nt-strategy-box-txt-wr">
                  <p class="nt-strategy-box-tit">청사진 제시</p>
                  <p class="nt-strategy-box-txt">- 초광역 협력사업 추가발굴, 충남·경기 상생협력사업 구체화</p>
                </div>
              </li>
              <li class="nt-strategy-box-li">
                <div class="nt-strategy-box-icon nt-potential_icon">
                  <img src="/source/img/icon-strategy2.png" alt="">
                </div>
                <div class="nt-strategy-box-txt-wr">
                  <p class="nt-strategy-box-tit">공감대 형성</p>
                  <p class="nt-strategy-box-txt">- 집중 홍보를 통한 대외 인지도 향상 및 전국민적 공감대 확산 <br> (언론광고, 옥외광고, 뉴미디어 등 온라인 매체광고,
                    박람회 참여 등) </p>
                </div>
              </li>
              <li class="nt-strategy-box-li">
                <div class="nt-strategy-box-icon nt-potential_icon">
                  <img src="/source/img/icon-strategy3.png" alt="">
                </div>
                <div class="nt-strategy-box-txt-wr">
                  <p class="nt-strategy-box-tit">추진동력 확보</p>
                  <p class="nt-strategy-box-txt">- 베이밸리 메가시티 건설을 위한 특별법 (가칭)제정 검토 등 제도적 기반 마련</p>
                  <p class="nt-strategy-box-txt">- 제22대 총선공약(중점공약) 반영 및 국가 정책화 건의</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="nt-cont_sec nt-roadmap">
      <div class="nt-wrapper">
        <div class="nt-cont_sec_top">
          <p class="nt-cont_sec-stit">베이밸리 메가시티 사업개요 05</p>
          <p class="nt-cont_sec-btit">중장기 로드맵</p>
        </div>
        <div class="nt-cont_sec_dt">
          <div class="nt-roadmap-box">
            <ul class="nt-roadmap-ul">
              <li class="nt-roadmap-li nt-roadmap-li--cnt">
                <div class="nt-roadmap-year">2023</div>
                <div class="nt-roadmap-txtwr">
                  <p class="nt-roadmap-tit nt-strategy-box-tit">비전제시</p>
                  <p class="nt-roadmap-txt nt-strategy-box-txt">- 베이밸리 메가시티 기본계획 수립</p>
                </div>
              </li>
              <li class="nt-roadmap-li nt-roadmap-li--arrow">
                <div class="nt-roadmap-arrow"></div>
              </li>
              <li class="nt-roadmap-li nt-roadmap-li--cnt">
                <div class="nt-roadmap-year">2032</div>
                <div class="nt-roadmap-txtwr">
                  <p class="nt-roadmap-tit nt-strategy-box-tit">단·중기 과제완성</p>
                  <p class="nt-roadmap-txt nt-strategy-box-txt">- SOC 조성</p>
                  <p class="nt-roadmap-txt nt-strategy-box-txt">- 산업벨트 구축</p>
                </div>
              </li>
              <li class="nt-roadmap-li nt-roadmap-li--arrow">
                <div class="nt-roadmap-arrow"></div>
              </li>
              <li class="nt-roadmap-li nt-roadmap-li--cnt">
                <div class="nt-roadmap-year">2042</div>
                <div class="nt-roadmap-txtwr">
                  <p class="nt-roadmap-tit nt-strategy-box-tit">장기 과제 완성</p>
                  <p class="nt-roadmap-txt nt-strategy-box-txt">- 초광역 경제권 형성</p>
                  <p class="nt-roadmap-txt nt-strategy-box-txt">- 산업생태계 고도화</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- footer { -->
  <div class="nt-footer">
    <div class="nt-foot-body-wr">
      <div class="wrapper2">
        <div class="nt-foot-body nt-foot-body-l">Copyright ⓒ CHUNGCHEONGNAM-DO. All Rights Reserved.</div>
        <div class="nt-foot-body nt-foot-body-r"><span>개발전략과 베이밸리개발팀</span><a href="tel:041-635-4732">041-635-4732</a></div>
      </div>
    </div>
  </div>
  <!-- } footer -->

</body>

</html>