/* Settings */
:root {
  --main-color: #d30a14;
  --white-color: #fff;
  --black-color: #000;
  --mobile-height: calc(var(--var,1vh) * 100);
}

body {background-color: #f8f8f8;}

.nt-ta-left {text-align: left !important;}
.nt-ta-right {text-align: right !important;}
.nt-ta-center {text-align: center !important;}

/* 상단 */
.nt-header {display: flex; align-items: center; position: absolute; padding: 0 min(3vw, 40px); width: 100%; height: clamp(50px, 8vw, 100px); z-index: 100;}
.nt-logo {display: block;}
.nt-logo a {display: block; width: clamp(120px, 20vw, 150px);}
.nt-cm_top {overflow: hidden; position: relative; height: 500px; background: url('/source/img/top_bg.jpg') no-repeat center/cover;}
.nt-cm_cont {position: absolute; bottom: 70px; left: 0; z-index: 9; width: 100%;}
.nt-cm_cont .nt-wrapper {position: relative;}
.nt-cm_cont .nt-txt1 {font-size: 70px; font-weight: 700; color: #fff; line-height: 1.2;}
.nt-cm_cont .nt-txt1  span {color: var(--main-color);}
.nt-cm_cont .nt-txt2 {margin-top: 14px; font-size: 22px; font-weight: 400; color: #fff; line-height: 1.45;}
.nt-cm_cont .nt-txt2 b {font-weight: 700;}
.nt-cm_cont .nt-refer {display: flex; flex-flow: row wrap; justify-content: flex-start; gap: 10px 20px; margin-top: 43px;}
.nt-cm_cont .nt-refer-list {display: block; position: relative; width: calc(33.333% - 14px); height: 70px; line-height: 68px; padding: 0 30px 0 30px; border: 1px solid #fff; border-radius: 0.5vw; font-size: 1.125rem; font-weight: 700; color: #fff; text-align: left; background: none; cursor: pointer; overflow: hidden;}
.nt-cm_cont .nt-refer-list.nt-list1 {background: url('/source/img/top-refer-icon1.png') no-repeat center right 25px/33px auto;}
.nt-cm_cont .nt-refer-list.nt-list2 {background: url('/source/img/top-refer-icon2.png') no-repeat center right 25px/31px auto;}
.nt-cm_cont .nt-refer-list.nt-list3 {background: url('/source/img/top-refer-icon3.png') no-repeat center right 25px/28px auto;}

.nt-refer-over-ul {display: flex; position: absolute; top: 0; left: -100%; width: 100%; height: 100%; background-color: #fff; transition: .2s;}
.nt-refer-over-ul::after {content: ''; position: absolute; left: 50%; top: 50%; transform: translateY(-50%); width: 1px; height: 16px; border-right: 1px dashed #ddd;}
.nt-refer-over-li {flex: 1; text-align: center;}
.nt-refer-over-li a {display: block; width: 100%; height: 100%; font-size: 1.125rem; font-weight: 600; color: #666;}
.nt-refer-over-li a img {width: 16px; margin: 0 0 3px 3px;}

.nt-tab {margin: clamp(20px, 6vw, 50px) auto clamp(40px, 6vw, 70px);}
.nt-tab_in {display: flex; flex-flow: row wrap; justify-content: center; gap: 10px 20px;}
.nt-tab-btn {display: flex; align-items: center; justify-content: center; width: 250px; height: 60px; line-height: 60px; border-radius: 30px; font-size: 20px; font-weight: 700; color: #fff; text-align: center; background: #d3d3d3; transition: .2s;}
.nt-tab-btn.act {line-height: 58px; border: 2px solid var(--main-color); background: #fff; color: var(--main-color); box-shadow: 0 0 10px rgba(0,0,0,0.1);}

.nt-cont_sec_top {margin-bottom: clamp(17.5px, 4vw, 35px); text-align: center;}
.nt-cont_sec-stit {font-size: 1rem; font-weight: 700; color: #bbb;}
.nt-cont_sec-btit {margin-top: 7px; font-size: 40px; font-weight: 700; color: #0f0f0f;}

.nt-cont_sec_top.white .nt-cont_sec-stit, .nt-cont_sec_top.white .nt-cont_sec-btit {color: #fff;}

.nt-goals {padding-bottom: clamp(60px, 6vw, 100px);}
.nt-goals .nt-cont_sec_dt {overflow: hidden; padding: clamp(20px, 3vw, 43px) 20px; border-radius: 75px; background: url('/source/img/top-goals_bg.jpg') no-repeat center / cover; box-shadow: 0 0 10px 5px rgba(0,0,0,0.1);}
.nt-cont_sec-goals-txt {font-size: 22px; font-weight: 300; color: #fff; text-align: center; line-height: 1.45;}
.nt-cont_sec-goals-txt b {font-weight: 700;}

.nt-potential {padding-bottom: clamp(60px, 6.2vw, 115px); background: url('/source/img/potential_bg.png') no-repeat right bottom / contain;}
.nt-potential .nt-cont_sec_dt {display: flex; gap: clamp(15px, 4vw, 25px);}
.nt-potential_lt {width: 64%;}
.nt-potential_vd {position: relative; width: 100%; height: 100%; padding-bottom: 56.25%; border-radius: 1.8vw; overflow: hidden;}
.nt-potential_vd .nt-potential-video {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100%; height: 100%; object-fit: cover;}
.nt-potential_rt {width: calc(36% - 25px);}
.nt-potential_ul {display: flex; flex-direction: column; justify-content: space-between; gap: 10px 15px; height: 100%;}
.nt-potential_li {display: flex; gap: 15px;}
.nt-potential_box {display: flex; align-items: center; gap: 12px; flex: 1; padding: 13px; height: 105px; background-color: #fff; border-radius: 1.5vw; box-shadow: 0 0 10px 5px rgba(0,0,0,0.02);}
.nt-potential_li--info .nt-potential_box {justify-content: space-between; padding: 15px 22.5px;}
.nt-potential_icon {display: flex; align-items: center; justify-content: center; width: 60px; height: 60px; flex-shrink: 0; border-radius: 0.5vw; background-color: #f8f8f8;}
.nt-potential_icon img {max-width: 55%; max-height: 50%; object-fit: cover;}
.nt-potential_info-1 {font-weight: 700; color: var(--main-color);}
.nt-potential_info-2 {padding-top: 5px; font-size: 1.25rem; font-weight: 500; color: #333;}
.nt-potential_info-2 b {font-size: 1.625rem; font-weight: 700;}
.nt-potential_num {display: flex; flex-shrink: 0; align-items: center; justify-content: center; width: 50px; height: 50px; font-size: 1.125rem; font-weight: 600; color: #999; background-color: #f8f8f8; border-radius: 50%;}
.nt-potential_txt {font-size: 1.125rem; font-weight: 400; color: #333; line-height: 1.4;}
.nt-potential_txt span {font-weight: 700; color: var(--main-color);}

.nt-challenge {padding: clamp(60px, 6vw, 100px) 0 clamp(60px, 6.2vw, 120px); background: #fff url('/source/img/challenge_bg.png') no-repeat bottom center/cover;}
.nt-challenge .nt-cont_sec_dt {display: flex; gap: 40px;}
.nt-challenge_lt {width: 64%;}
.nt-challenge_rt {width: calc(36% - 40px);}
.nt-challenge_pnavi-slider {position: relative; margin: -5px 0; padding: 5px 0; height: clamp(200px, 50vw, 630px); overflow: hidden;}
.nt-challenge_pnavi-slider:after {content: ""; display: block; position: absolute; top: 20px; left: 24px; z-index: 1; height: calc(100% - 40px); border-left: 2px dashed #eaeaea;}
.nt-challenge_pnavi {position: relative; z-index: 10;}
.nt-challenge_pnavi-list {display: flex; flex-flow: row wrap; align-items: center; position: relative; z-index: 5;}
.nt-challenge_pnavi-list:first-child {margin-top: 0;}
.nt-challenge_pnavi-symbol {display: block; width: 50px; height: 50px; line-height: 48px; margin-right: 13px; border: 2px solid #eaeaea; background: #fff;}
.nt-challenge_pnavi-symbol span {display: block; font-size: 18px; font-weight: 600; color: #999; text-align: center;}
.nt-challenge_pnavi-symbol.symbol1 {border-radius: 50% 50% 50% 0; line-height: 1; transform: rotate(-45deg);}
.nt-challenge_pnavi-symbol.symbol1 span {padding-top: 9px; line-height: 1.333; transform: rotate(45deg) translateX(6px);}
.nt-challenge_pnavi-symbol.symbol2 {border-radius: 50%;}
.nt-challenge_pnavi-symbol.symbol2 span {}
.nt-challenge_pnavi-txt {display: flex; align-items: center; position: relative; width: calc(100% - 63px); min-height: 80px; padding: 13px 10px 13px 18px; border: 1px solid #eaeaea; border-radius: 10px; font-size: 18px; font-weight: 400; color: #333; line-height: 1.45; background: #fff;}
.nt-challenge_pnavi-txt:after {content: ""; display: none; position: absolute; top: 50%; right: -12px; z-index: 1; width: 19px; height: 20px; margin-top: -10px;}
.nt-challenge_pnavi-txt b {font-weight: 600;}

.nt-challenge_pnavi-list.swiper-slide-active .nt-challenge_pnavi-symbol {border-color: var(--main-color); background: #fff; box-shadow: 0 0 10px rgba(0,0,0,0.15);}
.nt-challenge_pnavi-list.swiper-slide-active .nt-challenge_pnavi-symbol span {color: var(--main-color);}
.nt-challenge_pnavi-list.swiper-slide-active .nt-challenge_pnavi-txt {color: #fff; background: var(--main-color); box-shadow: 0 0 10px rgba(0,0,0,0.15);}
.nt-challenge_pnavi-list.swiper-slide-active .nt-challenge_pnavi-txt:after {display: block;}

.nt-challenge_pnavi_ctrwr {display: flex; justify-content: flex-end; position: relative; z-index: 10;}
.nt-challenge_pnavi_ctrwr::after {content: ''; position: absolute; left: 0; top: 50%; transform: translateY(-100%); width: 100%; height: 80px; background: linear-gradient(transparent 5%, #f3f9ff, #f3f9ff);}
.nt-challenge_pnavi_ctr {display: flex; gap: 10px; position: relative; z-index: 20; width: calc(100% - 64px);}
.nt-challenge_btn {flex: 1; height: 44px; border-radius: 30px; border: 1px solid #eaeaea; background-color: #fff; background-position: center; background-size: 15px; background-repeat: no-repeat; transition: .2s;}
.nt-challenge_btn.prev {background-image: url('/source/img/sl_arrow_up_gray.png');}
.nt-challenge_btn.next {background-image: url('/source/img/sl_arrow_down_gray.png');}

.nt-challenge-img {position: relative; height: 100%; padding-bottom: 81%; border-radius: 1.8vw; box-shadow: 0 0 10px 5px rgba(0,0,0,0.02); overflow: hidden;}
.nt-challenge-img img {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100%; height: 100%; object-fit: cover;}

.nt-strategy {padding: clamp(60px, 6vw, 100px) 0; background: #333 url('/source/img/strategy_bg.png') no-repeat center bottom / cover;}
.nt-strategy-diagram {display: flex; position: relative; padding: 55px 75px; background-color: #fff; border-radius: 2rem;}
.nt-strategy-diagram::after {content: ''; position: absolute; bottom: -22px; left: 50%; transform: translateX(-50%); width: 50px; height: 45px; background: url('/source/img/icon-diagram_tail.png') no-repeat center / contain;}
.nt-strategy-diagram > * {padding-top: 105px;}
.nt-strategy-lt, .nt-strategy-rt {width: 40.5%; position: relative;} 
.nt-strategy-md {display: flex; flex-direction: column; align-items: center; justify-content: center; position: relative; width: 19%;}
.nt-strategy-md > * {position: absolute; z-index: 20;}
.nt-strategy-box {position: relative; padding: clamp(15px, 1.5vw, 30px); height: 100%; background-color: #f8f8f8; border: 1px solid; border-radius: 0.6rem; z-index: 10;}
.nt-strategy-lt .nt-strategy-box {border-color: #d30b14;}
.nt-strategy-rt .nt-strategy-box {border-color: #0b3f8d;}
.nt-strategy-rt::after {content: ''; position: absolute; width: 145px; height: 85px; border-radius: 0.6rem; top: 115px; left: 50%; transform: translate(-100%, -100%); border-top: 2px solid #0b3f8d; border-right: 2px solid #0b3f8d;}
.nt-strategy-lt::after {content: ''; position: absolute; width: 145px; height: 85px; border-radius: 0.6rem; top: 115px; right: 50%; transform: translate(100%, -100%); border-top: 2px solid #d30b14; border-left: 2px solid #d30b14;}
.nt-strategy-biglogo {display: flex; align-items: center; justify-content: center; position: relative; width: 202px; height: 57px; margin: 10px auto 0;}
.nt-strategy-logo-ul {display: flex; gap: 15px 20px; flex-wrap: wrap; padding: 30px 0 15px;}
.nt-strategy-logo-li {display: flex; align-items: center; justify-content: center; width: calc(50% - 10px); height: clamp(40px, 4vw, 70px); background-color: #fff; border-radius: 0.6rem; box-shadow: 0 0 10px 5px rgba(0,0,0,.05);}
.nt-strategy-logo-li img {object-fit: contain;}
.nt-strategy-diagram-tit {display: flex; align-items: center; justify-content: center; top: 0; left: 50%; transform: translateX(-50%); width: 400px; height: 60px; text-align: center; border: 2px solid transparent; border-radius: 0.6rem; background-image: linear-gradient(#fff, #fff), linear-gradient(to right, #d30b14 25%, #0b3f8d 60%); background-origin: border-box; background-clip: content-box, border-box;}
.nt-strategy-diagram-tit p {font-size: 1.5rem; font-weight: 700; background: linear-gradient(to right, #d30b14 25%, #0b3f8d 60%);  -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
.nt-strategy-diagram-mark {display: flex; align-items: center; justify-content: center; position: relative; top: -76px; left: 0; width: 180px; height: 180px; border-radius: 1vw; background: linear-gradient(45deg, #d30b14 15%, #0b3f8d 75%);  rotate: 45deg;}
.nt-strategy-diagram-mark_in {display: flex; align-items: center; justify-content: center; flex-direction: column; gap: min(1.5vw, 18px); rotate: -45deg; font-size: 1.25rem; font-weight: 700; color: #fff; text-align: center;}
.nt-strategy-diagram-mark_in img {width: 70px;}
.nt-strategy-smbox {display: flex; align-items: center; justify-content: center; height: 60px; background-color: #fff; border: 1px solid #ddd; border-radius: 0.6rem; font-size: 1.125rem; font-weight: 600; color: #0f0f0f;}
.nt-strategy-md .nt-strategy-smbox {left: 50%; transform: translateX(-50%); bottom: clamp(15px, 1.5vw, 30px); width: 150px; text-align: center;}
.nt-strategy-md .nt-strategy-smbox::after, .nt-strategy-md .nt-strategy-smbox::before {content: ''; position: absolute; top: 50%; transform: translateY(-50%); width: min(4.65vw, 64px); height: 1px; background-color: #ddd; z-index: 0;}
.nt-strategy-md .nt-strategy-smbox::after {left: 100%;}
.nt-strategy-md .nt-strategy-smbox::before {right: 100%;}
.nt-strategy-btm {padding-top: 53px;}
.nt-strategy-box-ul {display: flex; gap: 30px;}
.nt-strategy-box-li {display: flex; gap: 25px; align-items: flex-start; flex: 1; padding: 25px; background-color: #fff; border-radius: 1.5rem;}
.nt-strategy-box-txt-wr {display: flex; flex-direction: column; gap: 10px;}
.nt-strategy-box-tit {padding-bottom: 5px; font-size: 1.625rem; font-weight: 700; color: #333;}
.nt-strategy-box-txt {font-weight: 400; color: #666; margin-left: 10px; text-indent: -10px; line-height: 1.375;}

.nt-roadmap {padding: clamp(60px, 6vw, 100px) 0 clamp(60px, 6.5vw, 125px); background: url('/source/img/roadmap_bg.jpg') no-repeat center / cover;}
.nt-roadmap-box {padding: 35px; height: 400px; border-radius: 2rem; background: url('/source/img/roadmap_box_bg.jpg') no-repeat center / cover;}
.nt-roadmap-ul {display: flex;}
.nt-roadmap-li {position: relative;}
.nt-roadmap-li--cnt {padding: 70px 30px 30px; width: 28%; border: 1px solid #fff; border-radius: 1.2rem;}
.nt-roadmap-li--arrow {display: flex; align-items: center; justify-content: center; width: 8%;}
.nt-roadmap-arrow {width: 46px; height: 46px; border-radius: 50%; border: 1px solid #eaeaea; background: url('/source/img/icon-arrow_next_white.png') no-repeat center / 9px;}
.nt-roadmap-txtwr {display: flex; flex-direction: column; gap: 5px;}
.nt-roadmap-tit.nt-strategy-box-tit, .nt-roadmap-txt.nt-strategy-box-txt {color: #fff;}
.nt-roadmap-year {display: flex; align-items: center; justify-content: center; position: absolute; left: 35px; top: -1px; width: 95px; height: 45px; font-size: 1.375rem; font-weight: 700; color: #fff; border-radius: 0 0 1rem 1rem; background-color: var(--main-color); text-align: center;}

/* 게시판 { */
.board {padding-bottom: clamp(60px, 12vw, 200px);}
.board_top {display: flex; align-items: flex-end; justify-content: space-between; padding-bottom: 20px;}
.board_cnt_wrap {}
.board_cnt {font-weight: 400; font-size: 18px; color: var(--black-color);}
.board_cnt span {font-weight: 700; color: var(--main-color);}
.board_srch_wrap {}
.board_srch_bar {display: flex; align-items: center; justify-content: space-between; gap: 0 13px;}
.board_srch_bar select {width: 124px; border: none; border-bottom: 1px solid #ccc; background: url('/source/img/icon-select.png') no-repeat center right 10px; padding: 18px 10px; font-weight: 400; font-size: 16px; color: var(--black-color);}
.board_srch_input_wrap {width: 338px; border-bottom: 1px solid #ccc; position: relative;}
.board_srch_input_wrap input[type=text] {font-weight: 400; font-size: 16px; color: var(--black-color); border: none; padding: 18px 26px 18px 10px; outline: none; width: 100%; background-color: transparent;}
.board_srch_input_wrap [type=submit] {border: none; background-color: transparent; position: absolute; top: 50%; right: 10px; transform: translateY(-50%);}

.board_contents {}
.list {}
.list_head {display: flex; width: 100%; border-radius: 10px; background-color: #333; height: 60px; align-items: center;}
.list_head .th {font-weight: 400; font-size: 18px; color: var(--white-color); position: relative; text-align: center;}
.list_head .th:last-child::after {display: none;}
.list_head .th::after {content: ''; width: 1px; height: 17px; background-color: rgba(255,255,255,0.3); position: absolute; top: 50%; right: 0; transform: translateY(-50%);}

.list .td_num {width: 102px;}
.list .td_subj {width: calc(100% - 543px);}
.list .td_depart {width: 178px;}
.list .td_hits {width: 128px;}
.list .td_file {width: 135px;}

.list_body {}
.list_body_item {display: flex; align-items: center; transition: .3s; border-bottom: 1px solid #dedede; padding: 30.61px 0;}
.list_body_item .td {text-align: center;}
.list_body_item .td.td_num {font-weight: 700; font-size: 20px; color: #d9d9d9;}
.list_body_item .td.td_subj {text-align: left; padding: 0 24px;}
.list_body_item .td.td_subj .td_date {font-weight: 500; font-size: 16px; color: #bdbdbd; padding-bottom: 8px; transition: .3s;}
.list_body_item .td.td_subj .td_title {font-weight: 400; font-size: 18px; color: var(--black-color); transition: .3s;}
.list_body_item .td.td_depart {font-weight: 300; font-size: 18px; color: #666; transition: .3s;}
.list_body_item .td.td_hits {font-weight: 300; font-size: 18px; color: #666; transition: .3s;}
.list_body_item .td.td_file {text-align: center;}
.list_body_item .td.td_file .icon {display: flex; width: 46px; height: 46px; border: 1px solid #d9d9d9; align-items: center; justify-content: center; border-radius: 50%; margin: 0 auto; transition: .3s;}
.list_body_item .td.td_file .td_file_icon {}
.list_body_item .td.td_file .td_baro_icon {width: 32px; height: 32px; border: 2px solid var(--main-color); display: none;}
.list_body_item .td.td_file .td_baro_icon img {width: 10px;}

.list_body_item:hover {background-color: #fff; border-radius: 10px; border-bottom: 1px solid transparent; box-shadow: 2px 0 12px rgba(0,0,0,0.04); margin-top: -1px;}
.list_body_item:hover .td_subj .td_date {color: var(--main-color);}
.list_body_item:hover .td_subj .td_title {color: var(--main-color);}
.list_body_item:hover .td_depart {color: var(--main-color);}
.list_body_item:hover .td_hits {color: var(--main-color);}
.list_body_item:hover .icon.td_file_icon {display: none;}
.list_body_item:hover .icon.td_baro_icon {display: flex;}

.pagination {padding-top: 40px;}
.pagi_ul {display: flex; align-items: center; justify-content: center;}
.pagi_ul li {padding: 0 13px;}
.pagi_ul li a {display: block; font-weight: 400; font-size: 18px; color: #bdbdbd; transition: .3s;}
.pagi_ul li a:hover {color: var(--black-color); font-weight: 500;}
.pagi_ul li a.active {color: var(--black-color); font-weight: 500;}
.pagi_ul li .pg_prev,.pagi_ul li .pg_next {display: flex; width: 32px; height: 32px; border-radius: 50%; align-items: center; justify-content: center; border: 1px solid var(--black-color);}

.bo_view_wrap {padding-bottom: 100px;}
.list-view-top {
  border-top: 1px solid #0f0f0f;
  border-bottom: 1px solid #e8e8e8;
  padding: 38px 190px 36px 34px;
  position: relative;
}
.list-view-title {
  font-weight: 400;
  font-size: 23px;
  color: #0f0f0f;
  display: inline-block;
  vertical-align: middle;
  margin-right: 18px;
}
.list-view-top-sort {
  display: inline-block;
  vertical-align: middle;
  height: 26px;
  line-height: 26px;
  padding: 0 10px;
  margin-right: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
  font-weight: 300;
  color: #666;
  text-align: center;
}
.list-view-top-sort:last-child {
  margin-right: 0;
}
.list-view-reply {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 64px;
  height: 25px;
  line-height: 25px;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  background: #666;
  border-radius: 5px;
  padding-left: 29px;
  padding-right: 9px;
  margin-right: 3px;
}
.list-view-reply::before {
  content: "";
  position: absolute;
  left: 7px;
  top: 7px;
  width: 15px;
  height: 11px;
  background: url(../img/icon-reply.png) no-repeat center center/contain;
}
.list-view-secret {
  font-weight: 400;
}
.list-view-top.list-view-top--type2 {
  padding: 33px 190px 30px 34px;
}
.list-view-top--type2 .list-view-title-wrap {
  overflow: hidden;
  margin-bottom: 3px;
} 
.list-view-top--type2 .list-view-title {
  float: left;
  font-size: 20px;
}
.list-view-top.list-view-top--type2 .list-view-top-sort {
  float: inherit;
  min-width: 68px;
  height: 30px;
  line-height: 30px;
  background: #f1f1f1;
  border: none;
  border-radius: 15px;
  font-size: 16px;
  font-weight: 300;
  color: #555;
}
.list-view-date {
  padding-top: 4px;
}
.list-view-date span {
  font-weight: 300;
  font-size: 16px;
  color: #999;
  padding-left: 5px;
}
.list-view-top-btn-wrap {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  margin: 0 -5px;
}
.list-view-top-btn-item {
  padding: 0 5px;
  font-size: 0;
}
.list-view-top-btn-link {
  display: inline-block;
  width: 42px;
  height: 42px;
  line-height: 42px;
  border-radius: 50%;
  text-align: center;
}
.list-view-top-btn-link.print {
  background: #fff url('../img/icon-print.png') no-repeat center center;
  border: 1px solid #ccc;
}


.list-file-wrap {
  border-bottom: 1px solid #e8e8e8;
  padding: 20px 0;
}
.list-file-ul {
  margin: -5px 0;
}
.list-file-ul li {
  padding: 5px 0;
}
.list-file-inner {
  display: block;
  border-radius: 10px;
  border: 1px solid #dedede;
  background-color: #f9f9f9;
  padding: 22px 30px;
  transition: .3s;
}
.list-file-inner .file-name {
  font-weight: 300;
  font-size: 16px;
  color: #333;
  padding-left: 10px;
  width: auto;
  max-width: calc(100% - 100px);
}
.list-file-inner .file-capacity {
  font-weight: 300;
  font-size: 14px;
  color: #999;
  padding-left: 5px;
}

.list-file-inner:hover {
  border: 1px solid var(--main-color);
  background-color: var(--main-color);
}
.list-file-inner:hover .file-name {
  font-weight: 400;
  color: #fff;
}
.list-file-inner:hover .file-capacity {
  color: #fff;
}

.list-view-bot {
  padding: 40px 28px;
  border-bottom: 1px solid #ccc;
}
.list-view-cont-title {
  padding-bottom: 13px;
}
.list-view-cont-title span {
  font-weight: 400;
  font-size: 18px;
  color: #0f0f0f;
  padding-left: 10px;
  line-height: 1;
}
.list-view-cont h4 {
  position: relative;
  padding-bottom: 13px;
  padding-left: 26px;
  font-weight: 400;
  font-size: 18px;
  color: #0f0f0f;
  line-height: 1;
}
.list-view-cont h4::before {
  content:"";
  width: 16px;
  height: 16px;
  background: url('../img/list-view-cont-icon.png') no-repeat center center/contain;
  position: absolute;
  left: 0;
  top: 0;
}
.list-view-cont h4 ~ h4 {
  margin-top: 32px;
}
.list-view-cont-wrap {
  margin: -15px 0;
}
.list-view-cont {
  padding: 16px 0;
}
.list-view-cont-box {
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 24px 30px 23px;
  font-weight: 300;
  font-size: 16px;
  color: #555;
  line-height: 1.625;
}
.list-view-cont-text01 {
  font-weight: 300;
  font-size: 16px;
  color: #555;
  line-height: 1.625;
  padding-top: 9px;
}
.list-view-cont-text01:first-child {
  padding-top: 0;
}

.list-rel-notice-wrap {
  margin-top: 70px;
}
.list-rel-notice-title-wrap {
  position: relative;
  padding-bottom: 12px;
}
.list-rel-notice-title {
  font-weight: 400;
  font-size: 20px;
  color: #0f0f0f;
  line-height: 1.2;
  float: left;
}
.list-rel-notice-baro {
  float: right;
  font-weight: 300;
  font-size: 16px;
  color: #666;
  line-height: 1;
  padding-top: 4px;
}
.list-rel-notice-baro img {
  margin-left: 8px;
}
.list-rel-notice-box {
  border: 1px solid #f1f1f1;
  border-radius: 10px;
  background-color: #f9f9f9;
  padding: 0 34px;
}
.list-rel-notice-item {
  display: block;
  border-bottom: 1px dotted #ddd;
  padding: 22px 0 ;
}
.list-rel-notice-item:last-child {
  border-bottom: none;
}
.list-rel-notice-item > * {
  font-weight: 300;
  font-size: 16px;
  color: #666;
}
.list-rel-notice-item-title {
  max-width: calc(100% - 160px);
}
.list-rel-notice-item-date {
  position: relative;
  max-width: 130px;
  padding-left: 30px;
  margin-left: 30px;
}
.list-rel-notice-item-date::before {
  content: '';
  width: 1px;
  height: 20px;
  background-color: #ddd;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.notice-list-view-bot {
  border-bottom: 1px solid #ccc;
}
.notice-list-view-cont {
  padding: 40px 33px;
}
.notice-list-view-img-box {
  display: inline-block;
  border: 1px solid #ddd;
  max-width: 100%;
  margin-bottom: 30px;
  font-size: 0;
}
.notice-list-view-cont-text {
  font-weight: 300;
  font-size: 16px;
  color: #666;
  line-height: 1.625;
}

.td-info {
  margin: 10px -13px 0;
}
.td-info li {
  padding: 0 13px;
  font-size: 0;
}
.td-info li .icon-wrap {
  padding-right: 8px;
  font-size: 16px;
}
.td-info li .icon-wrap img {margin-top: -4px;}
.info-title {
  font-size: 16px;
  font-weight: 300;
  color: #333;
  padding-right: 10px;
}
.info-text {
  font-weight: 300;
  font-size: 16px;
  color: #999;
}
/* } 게시판 */

/* hover */
@media screen and (min-width:1290px){
.main-title-link:hover {background-color: #fff; border-color: #fff; background-image: url('../img/icon-monitor_g.png'); color: #666;}
.main-file-link:hover {background-color: #fff; box-shadow: 0 0 10px 3px rgba(0, 0, 0, .1); border-color: var(--main-color);}
.main-file-link:hover .main-file-txt {color: var(--main-color);}
.main-file-link:hover .main-file-icon {background-color: var(--main-color);}
.tab-dep1-li:not(.active) > a:hover {background-color: #999; border-color: #999;}
.poster-tab-li:not(.active) > button:hover {color: #666;}
.board-cate-li:not(.active) > a:hover {color: #666;}
}
.view-btn-wrap {
  margin-top: 30px;
}
.view-back-btn {
  display: block;
  width: 180px;
  max-width: 90%;
  height: 50px;
  line-height: 50px;
  margin: 0 auto;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  background-color: #222;
  text-align: center;
}
/* } 게시판 */

/* footer */
.nt-foot-body-wr {padding: 30px 0; background-color: #333;}
.nt-foot-body-wr .wrapper2 {display: flex; align-items: center; justify-content: space-between;}
.nt-foot-body-l {font-size: 0.875rem; font-weight: 400; color: #fff;}
.nt-foot-body-r {display: flex; align-items: center; gap: 0 25px;}
.nt-foot-body-r * {font-size: 1.125rem; font-weight: 700; color: #a2daff;}
.nt-foot-body-r > span {position: relative;}
.nt-foot-body-r > span:after {content: ''; position: absolute; right: -13px; top: 50%; transform: translateY(-50%); width: 1px; height: 15px; background-color: #676767;}


/* hover */
.nt-challenge_btn:hover {border-color: var(--main-color);}
.nt-challenge_btn.prev:hover {background-image: url('/source/img/sl_arrow_up_red.png');}
.nt-challenge_btn.next:hover {background-image: url('/source/img/sl_arrow_down_red.png');}
.nt-cm_cont .nt-refer-list:hover {box-shadow: 0 0 10px 5px rgba(0,0,0,.05);}
.nt-cm_cont .nt-refer-list:hover .name {display: none;}
.nt-cm_cont .nt-refer-list:hover .nt-refer-over-ul {left: 0;}
.nt-tab-btn:not(.act):hover {background-color: #999; border-color: #999;}